label {
  font-weight: normal !important;
  padding-left: 1em;
  padding-bottom: 0.5em;
}

.toggle-title {
  padding-right: 1em;
}

.number-row {
  margin-left: 1em;
}

input[type="number"] {
  width: 4em;
}
